
@media only screen and (width: 320px) {
    nav {
        width: 80%;
    }
    section {
        width: 90%;
        padding: 40px 15px;
        border-radius: 14px;
    }
    .phase-one .profile .contact{
        padding: 30px 10px;
        font-size: 18px;
    }
    .phase-one .profile big {
        font-size: 15px !important;
    }
    .phase-one .profile .download-cv {
        width: 90%;
        font-size: 14px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px){
    nav {
        width: 80%;
    }
    section {
        width: 90%;
        padding: 40px 15px;
        border-radius: 14px;
    }
    .phase-one .profile .contact{
        padding: 30px 10px;
        font-size: 18px;
    }
    .phase-one .profile big {
        font-size: 17px !important;
    }
    .phase-one .profile .download-cv {
        width: 90%;
        font-size: 14px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    nav {
        width: 90%;
    }
    section {
        width: 95%;
        padding: 40px 20px;
    }
    
}

@media (min-width: 425px) and (max-width: 769px) {
    body {
        overflow-x: hidden;
    }
    nav {
        width: 80%;
    }
    section {
        width: 80%;
        padding: 40px 30px;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    nav {
        width: 60%;
    }
    section {
        width: 60%;
        padding: 40px 30px;
    }
    
}
