* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #fafafa;
    font-size: 18px;
    background-image: url('../img/205.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: #77777746;
    color: #b4b4b4d8;
    font-size: 18px;
    margin-right: 4px;
    cursor: pointer;
}


a:link,
a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.nav-link:hover,
.nav-link:active {
    color: #0095ff;
}

.nav-link i:hover {
    color: #0095ff;
}

i {
    color: #ffffff;
    font-size: 28px;
}

.bi-suitcase-lg-fill {
    margin-left: 10px;
    font-size: 18px;
}

nav {
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
}

section {
    width: 60%;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #131313;
    border-radius: 20px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.664);
}

.part-one {
    margin-top: 40px;
    margin-bottom: 40px;
}

.part-one .portfolio {
    display: flex;
    margin-bottom: 24px;
}

.part-one .portfolio span {
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
    background-color: #0095ff;
    content: ' ';
    width: 200px;
    height: 4px;
}

.main-screen {
    display: flex;
    flex-wrap: wrap;
}

.main-screen .screen {
    width: 520px;
    margin-right: 10px;
}

.part-one .screen {
    padding: 14px 22px;
    margin-bottom: 32px;
    background-color: #ffffff0e;
    border-radius: 8px;
    border: 1px solid #ffffff2f;
    color: #f0f0f0;
}

.part-one .screen img {
    width: 100%;
    cursor: pointer;
    border-radius: 14px;
    margin-bottom: 12px;
    transition: transform 0.3s ease;
}

.part-one .screen img:hover {
    transform: scale(1.04);
}

.part-one .screen small {
    font-size: 16px;
    color: #ffffff88;
    display: inline-block;
    margin-bottom: 10px;
}

.part-one .screen big a i {
    font-size: 18px;
    margin-right: 4px;
}

.part-one .screen big a:hover{
    color: #0095ff;
    transition: all 0.2s ease;
}

.part-one .home a {
    margin-left: 4px;
    font-size: 16px;
    color: #747474;
}

.part-one .home a:hover,
.part-one .home a:active {
    color: rgb(226, 226, 226);
    transition: all 0.3s ease;
}








.footer {
    margin-bottom: 24px;
    padding: 24px 8px;
    border-radius: 10px;
    text-align: center;
    background-color: #202020c9;
    color: #b4b4b4d8;
    font-size: 14px;
    word-spacing: 4px;
}

.footer a {
    color: #b4b4b4d8;
    font-size: 14px;
}